@import "~bulma"
@import "~bourbon/app/assets/stylesheets/_bourbon.scss"

.main-text
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase
  text-shadow: darken($blue, 20%) 5px 5px 0px
  font-size: 4em

.bottom
  margin-top: 50px !important

  a.get-started
    border-color: darken($blue, 20%) !important
    font-size: 2em
    color: white !important

  .sub-text
    margin-left: 20px
    display: inline
    font-size: 2em
    line-height: 2.285em

    code
      background: darken($blue, 20%)
      color: white
      border-radius: 3px