<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="center">
        <img src="/assets/img/Diamond.svg" alt="Diamond">
        <h1 class="title is-1">{{ error }}</h1>
        <a href="/">{{ go-home }}</a>
      </div>
    </div>
  </div>
</section>